html {
  background: #e3e3e3;
}

body {
  font-family: Arial, Helveticam, sans-seriff;
  margin: 40px;
  padding: 40px;
  color: #242424;
  border-top: 10px solid #242424;
  background: #fff;
}

h1 {
  font-size: 2.75em;
  margin: 0;
}

h2 {
  font-size: 1.75em;

}

h3 {
  font-size: 1em;
  padding: 10px;
  border-top: 5px solid #242424;
}

p {
  line-height: 1.4em;
  width: 600px;
  margin: 10px;
  padding: 10px;
}

#blog {
  border-top: 1px dotted #ccc;
}

.blog-post {
  border-bottom: 1px dotted #ccc;
}

a[target] {
  background-color: yellow;
}
